 body {
font-family: Arial, sans-serif;
 background-color: black;
margin: 0;
padding: 0;
        }



h1 {
  color: blue;
  font-size: 20px
  text-align: center;

}

li {
  background-color: yellow;
  color: green;
  margin-bottom: 8px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}

a {
  font-size: 20px;
  padding-left: 20px;
  background-color: black;
  display: table;
  margin: 0 auto;
  text-align: center;

}
