h1 {
  color: blue;
  font-size: 20px
}

li {
  background-color: yellow;
  color: green;
margin-bottom: 8px;
background-color: black;
margin: 0 auto;
}

a {
  font-size: 20px;
  padding-left: 20px;
background-color: black;
display: table;
margin: 0 auto;
}
